<%- include ('partials/header.ejs', {data: 'index' }) %>
<body>
<%- include ('partials/navbar.ejs', {data: 'index' }) %>
    <div class="container">        
        <div class="card">
            <div class="card-header">
                <h3>Pagamento</h3>                    
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarPagamento">
                    <input type="hidden" name="idFormaPagamento" id="idFormaPagamento">
                    <label>Valor Produto</label>
                    <input type="number" placeholder="Digite o Valor à pagar" class="form-control" Id="preco" name="preco">
                    <label>Forma Pagamento</label>
                    <select class="form-control" Id="formaTipoPagamento" name="formaTipoPagamento">
                        <option selected>Selecione a forma de Pagamento</option>
                        <% formasPagamento.forEach(formaPagamento => { %>
                            <option value="<%= JSON.stringify(formaPagamento) %>"><%=formaPagamento.DESCRICAO_PAGAMENTO %></option>
                        <% }) %>
                        
                    </select>
                    <label>Porcentagem Desconto (%)</label>
                    <input type="number" placeholder="Valor do Desconto em Porcentagem %" class="form-control" id="desconto" name="desconto" readonly>
                    <label>Valor Total Compra</label>
                    <input type="number" placeholder="Valor da compra com Desconto" class="form-control" name="valorTotalCompra" id='valorTotalCompra'readonly>
                    <br>
                    <button class="btn btn-success">Pagar</button>
                </form>                
            </div>
        </div>            
    </div>
    <div class="container">
        <div class="card">
            
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Valor Produto</th>
                        <th>forma de Pagamento</th>
                        <th>Desconto (em % )</th>
                        <th>valor da Compra</th>
                        <th>Data da Compra</th>
                    </tr>
                </thead>
                <tbody>
                    <% pagamentos.forEach(pagamento => { %>
                            <tr>
                                <td><%=pagamento.VALOR_PRODUTO %></td>
                                <td><%=pagamento.DESCRICAO_PAGAMENTO %></td>
                                <td><%=pagamento.VALOR_DESCONTO %></td>
                                <td><%=pagamento.VALOR_COMPRA %></td>
                                <td><%=pagamento.DATA_CRIACAO %></td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ValorProduto</th>
                        <th>forma de Pagamento</th>
                        <th>Desconto (em % )</th>
                        <th>valor da Compra</th>
                        <th>Data da Compra</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>