<%- include ('partials/header.ejs', {data: 'index' }) %>
<body>
<%- include ('partials/navbar.ejs', {data: 'index' }) %>
    <div class="container">        
        <div class="card">
            <div class="card-header">
                <h3>Pagamento</h3>                    
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarPagamento">
                    <label>Valor Produto</label>
                    <input type="number" placeholder="Digite o Valor à pagar" class="form-control" Id="preco" name="preco">
                    <label>Forma Pagamento</label>
                    <select class="form-control" Id="formaTipoPagamento" name="formaTipoPagamento">
                        <option selected>Selecione a forma de Pagamento</option>
                        <% formasPagamento.forEach(formaPagamento => { %>
                            <option value="<%=formaPagamento.DESCONTO %>"><%=formaPagamento.DESCRICAO_PAGAMENTO %></option>
                        <% }) %>
                        
                    </select>
                    <label>Porcentagem Desconto (%)</label>
                    <input type="number" placeholder="Valor do Desconto em Porcentagem %" class="form-control" id="desconto" name="desconto" readonly>
                    <label>Valor Total Compra</label>
                    <input type="number" placeholder="Valor da compra com Desconto" class="form-control" name="valorTotalCompra" id='valorTotalCompra'readonly>
                    <br>
                    <button class="btn btn-success">Pagar</button>
                </form>                
            </div>
        </div>            
    </div>  
</body>
<%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>